.mamun-images {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background: linear-gradient(
    90deg,
    rgba(19, 61, 102, 1) 0%,
    rgba(0, 9, 54, 1) 100%
  );
}
.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}
.navbar-left {
  gap: 5rem;
}
.navbar-right {
  gap: 3rem;
}
.navbar-right i {
  font-size: 1.2rem;
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}
@media screen and (max-width: 950px) {
  .navbar {
    padding: 0;
  }
}
@media screen and (max-width: 780px) {
  .navbar-left {
    gap: 3rem;
  }
  .navbar-right {
    gap: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .navbar-left {
    gap: 1rem;
  }
  .navbar-right {
    gap: 0rem;
  }
  .navbar-menu {
    gap: 1rem;
  }
}
