.trending {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.trending-left {
  display: flex;
  gap: 5rem;
  align-items: center;
}
.trending-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid tomato;
  padding: 0.2rem;
  border-radius: 12px;
  min-width: 160px;
}
.trending-section button {
  border: none;
  border-radius: 12px;
  padding: 0.5rem;
  transition: 1s ease;
  background: transparent;
}

.trending-section .active {
  background-color: rgb(5, 73, 201);
  color: white;
}
